/*Преимущества*/
.advantages .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.advantage-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.advantage-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $description-text-color;
}
.advantage-link-icon {
  /*размер иконки*/
  width: 70px;
  height: 70px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.advantages-icon-div {
  background: #F5F4FA;
  border-radius: 4px;
  /*центрирование иконки*/
  display: flex; 
  justify-content: center;
  align-items: center;
}
.advantages-list {
        @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        }
        @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        }
}
.advantages-list-item {
  margin-bottom: 30px;
        @media screen and (min-width: 480) {
        width: 450px;
        }
        @media screen and (min-width: 768px) {
        width: 354px;
        &:nth-child(2n+1) {
        margin-right: 30px;
        }
        }
        @media screen and (min-width: 1200px) {
        width: 270px;
        }
}   
.advantages-list-item:not(:last-child) {
        @media screen and (min-width: 1200px) {
        margin-right: 30px;
        }
}
.advantage-name {
  margin-top: 30px;
  margin-bottom: 10px;
}
.link-icon {
  fill: #2f303a;
}