/*цвет текста
color: #000000; черный для лого
color: #212121; почти черный
color: #FFFFFF; белый
color: #2196F3; голубой
color: #757575; серый

цвет фона
background: #FFFFFF; белый
background: #F5F4FA; серый
background: #2F303A; темный
*/
  $main-font: "Roboto", sans-serif;
  $secondary-font: "Raleway", sans-serif;
  $section-title-color: #212121;
  $accent-color: #2196f3;
  $accent-text: #ffffff;
  $logo-studio-header: #000000;
  $description-text-color: #757575;
  $title-text-color: #212121;
  $background-dark-color: #2f303a;
  $background-grey-color: #f5f4fa;